@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
body {
  font-family: 'Playfair Display', serif;
  background-image: url(images/backGround.webp);
  background-size: 100vw;
  color: #5a4a42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.customization-section,
select {
  font-family: 'Alice', serif;
}

.container {
  background-color: #fff8f0;
  display: flex;
  justify-content: center;
  width: 60vw;
  border-radius:20px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
  flex: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  border-radius: 20px;
}

img {
  position: absolute;
  visibility: hidden;
}

.imageDefault {
  visibility: visible;
}

.form-container {
  flex: 1;
  padding: 20px;
}

.price-banner {
  position: absolute;
  top: -10%;
  left: 4%;
  transform: translateX(-50%);
  background-color: brown;
  color: white;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
body {
  background-size: 100vh;
}

.container {
  flex-direction: column;
  height: 90vh;
}

.image-container {
  height: 50vh;
}

.form-container {
  height: 50vh;
  overflow: auto;
}
}