body {
    background-image: url(img1.jpg);
}

section {
    display: flex;
    justify-content: center;
    height: 100;
    padding-top: 10rem;
}

.main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 20rem;
    border-radius: 1rem;

}

.changeTextButton {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    margin-top: 2rem;
} /*Button style from Copy & Paste CSS*/

.content {
    font-size: 25px;
    font-weight: 300;
}